[defaults]
# Inform Ansible to use this specific file as the inventory.
inventory = hosts

# Inform Ansible to output some information about the playbook execution.
callbacks_enabled = timer, profile_roles
