search {{ domain }}
{% if wan_management_gateway is defined %}
nameserver {{ wan_management_gateway }}
{% elif lan_management_gateway is defined %}
nameserver {{ lan_management_gateway }}
{% endif %}
